{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
  
	//var myVar = setInterval(submit_form, 1000);

	$(function() {
	var submit_form = 
		function(e) 
		{
			$.getJSON($SCRIPT_ROOT + '/_add_numbers', 
			//{
			//a: $('input[name="a"]').val(),
			//b: $('input[name="b"]').val()
			//},
			function(data) {
				$('#result').text(data.result);
				$('input[name=a]').focus().select();
			});
			return false;
		};
	
	$('a#calculate').bind('click', submit_form);
	window.setInterval(submit_form,1000);
	
	$('input[type=text]').bind('keydown', function(e) {
		if (e.keyCode == 13) {
			submit_form(e);
		}
	});
	
	$('input[name=a]').focus();
});


  </script>

  <body style="font-size:100%;background-color:#00A885;margin:0;">

<h1 id="h1" style="margin-top:0;color:white;text-align:center;font-family: Arial, Helvetica, sans-serif;font-size:2.8em;background-color:#111111;">Inertial Measurement Unit values</h1>

<span style="font-size:1.8em;color:white;font-familu: Arial, Helvetica, sans-serif;"> Accelerator  </span>

<span id="result"> hiero </span>

<span style="font-size:1.8em;color:white;font-familu: Arial, Helvetica, sans-serif;"> Gyroscope </span>

<h2  style="color:white;text-align:center;font-family: Arial, Helvetica, sans-serif;font-size:2.8em;background-color:#111111;"> Files with suit data </h2>





<!--<input type="text" size="5" name="a"> + -->
<!--<input type="text" size="5" name="b"> = -->
<span id="result">?</span>
<!--<p><a href=# id="calculate">calculate server side</a> -->
</body>



{% endblock %}
